<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='/css/Booking.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header class="header-outer">
        <div class="header-inner responsive-wrapper">
            <div class="header-logo">
                <h1>KGP Guest House</h1>
            </div>
            <nav class="header-navigation">
                
                <a href="/" style="font-size: large;">Logout</a>
            </nav>
        </div>
    </header>

    <div class="complete">
        <div class="leftColumn">
            <div class="available">
                <h2 class="title">Show Available Rooms</h2>
                <label class="switch" for="togbtn">
            <input type="checkbox" id="togbtn" {% if availableOnly == '1' %} checked {% endif %}/>
            <div class="slider round"></div>
        </label>
        </div>
            
            <div class="foodItems">
                <h2>Food Options</h2>
                <div class="container">
                    <ul>
                        <li>
                            <input type="radio" id="none" name="food" value="0" {% if foodId=='0' %} checked="checked" , {% endif %}>
                            <label for="none">None</label>
                            <div class="check"></div>
                        </li>

                        <li>
                            <input type="radio" id="niveg" name="food" value="1" {% if foodId=='1' %} checked="checked" {% endif %}>
                            <label for="niveg">Veg + 200/-</label>
                            <div class="check">
                                <div class="inside"></div>
                            </div>
                        </li>

                        <li>
                            <input type="radio" id="ninonveg" name="food" value="2" {% if foodId=='2' %} checked="checked" {% endif %}>
                            <label for="ninonveg">Non-Veg + 300/-</label>
                            <div class="check">
                                <div class="inside"></div>
                            </div>
                        </li>

                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            {% for room in rooms %} {#
            <form action="{{ url_for('room', roomid=room.id) }}" method="POST">#} {#
                <form action={ % urls[loop.index0] %} method="POST">#}
                    <div class="row">
                        <section class="room">
                            <!-- Room Image -->
                            <div class="room_img">
                                <!-- <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/04/ce/ae/dd/asif-guest-house.jpg?w=900&h=-1&s=1" /> -->
                                <img src="../static/images/book.jpeg" >
                            </div>
                            <!-- Room Information -->
                            <div class="room_information">
                                <h2 class="room_information--heading">{{ room.type }}</h2>
                                <p>{{ room.description }}</p>
                                <div class="availability">
                                    <h3 style="color: white;">Availability: </h3>
                                    <div class="days">
                                        <div {% if avail[loop.index0][0]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[0]}}</div>
                                        <div {% if avail[loop.index0][1]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[1]}}</div>
                                        <div {% if avail[loop.index0][2]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[2]}}</div>
                                        <div {% if avail[loop.index0][3]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[3]}}</div>
                                        <div {% if avail[loop.index0][4]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[4]}}</div>
                                        <div {% if avail[loop.index0][5]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[5]}}</div>
                                        <div {% if avail[loop.index0][6]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[6]}}</div>
                                    </div>
                                </div>
                            </div>


                            <div class="room_features">
                                <ul>
                                    <li><i class="fa fa-bed"></i>{% if room.ac %} AC {% else %} NON AC {% endif %}</li>
                                    <!-- Bath Icon -->
                                    <li><i class="fa fa-male"></i>{{ room.occupancy }}</li>
                                    <!-- People Icon -->
                                    <li><span class="room_features--price"></span>{{ room.pricePerDay }}<small class="room_features--currency">/-</small></li>
                                    <!-- Price -->
                                </ul>
                                <a href="{{ url_for('room', roomid=room.id) }}" class="room_features--book-btn">{% if roomAvail[loop.index0]==1 %}Book Now{% else %}<p style="color: black">Reserve in Queue</p>{% endif %}</a>
                                <!-- Book now -->
                                {# <input class="button" type="submit" value="BookNow" />#}
                            </div>
                        </section>
                    </div>
                    {% endfor %}
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for('static',filename='/js/Booking.js') }}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</html>