<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/prevBooking.css') }}">
</head>

<body>
<header class="header-outer">
        <div class="header-inner responsive-wrapper">
            <div class="header-logo">
                <h2>KGP Guest House</h2>
                {# <img src="https://assets.codepen.io/285131/acme-2.svg" />#}
            </div>

            <nav class="header-navigation">
                
                <a href="/">Logout</a>
{#                <button>Menu</button>#}
            </nav>
        </div>
    </header>
<div class="nav">
    <ul class="navigation">
      <li><a href="/dates">Book Now</a></li>
      <li><a href="/history">Your Booking</a></li>
    </ul>
</div>
{% for i in bookings %}
    <div class="bookingBox">
        <div>
            <div class="bookingId">
                <h2># Booking ID: {{ i.id }}</h2>
            </div>
            <div class="bookingDates">
                <div class="date">
                    <h3>Date of Arrival: </h3>
                    <h4>{{ i.checkInDate }}</h4>
                </div>
                <div class="date">
                    <h3>Date of Departure: </h3>
                    <h4>{{ i.checkOutDate }}</h4>
                </div>
                <div class="date">
                    <h3>Date of Booking: </h3>
                    <h4>{{ i.dateOfBooking }}</h4>
                </div>
            </div>
            <div class="details">
                <div class="date">
                    <h3>Room: </h3>
                    <h4>{{ rooms[loop.index0].type }}</h4>
                </div>
                <div class="date">
                    <h3>Individuals: </h3>
                    <h4>{{ rooms[loop.index0].occupancy }}</h4>
                </div>
            </div>
            <div class="price">
                <div class="date">
                    <h3 class="price">Price: </h3>
                    <h4 class="amount">{{prices[loop.index0]}}</h4>
                </div>
            </div>
            <div class="status">
                <div class="date">
                    <h3 class="status">Status: </h3>
                    <h4 class="amount">{% if i.confirmation==0 %} in Queue {% elif  i.confirmation==1 %} Confirmed {% elif  i.confirmation==5 %} Feedback done {% else %} Cancelled {% endif %}</h4>
                </div>
            </div>
        </div>
        {% if i.confirmation==3 %}
        <div class="buttonDiv">
            <button class="button">Canceled!</button>
        </div>
        {% elif i.confirmation==4 %}
        <div class="buttonDiv">
            <a href="{{ url_for('feedback', bookingId=i.id) }}" ><button class="button">FeedBack</button></a>
        </div>
        {% elif i.confirmation==5 %}
        <div class="buttonDiv">
            <button class="button">FeedBack Done</button>
        </div>
        {% else %}
        <div class="buttonDiv">
            <a href="{{ url_for('cancelBooking', bookingId=i.id) }}" class="room_features--book-btn"><button class="button">Cancel</button></a>
        </div>
        {% endif %}
    </div>
{% endfor %}

</body>

</html>